﻿@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style>
        ul, li {
            list-style: none;
        }

        a, a:link, a:hover {
            text-decoration: none;
        }

        .hots-block {
            padding-top: 20px;
            min-height: 675px;
        }

        .block-header {
            padding: 5px 0px;
        }

            .block-header b {
                float: left;
                margin-right:20px;
            }
            .block-header .nav-link {
                padding: 0px;
                margin-right: 12px;
                font-size: .8em;
                padding: 2px 4px;
            }
            .block-header .nav-pills .nav-link.active {
                
            }
    </style>
}

<div class="row">
    <div class="col-md-8" style="padding:0px;">
        <div class="hots-block">
            <div class="block-header">
                <b class="block-header-title">音乐</b>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="block-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="pills-home" role="tabpanel" aria-labelledby="home-tab">1</div>
                    <div class="tab-pane" id="pills-profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
                    <div class="tab-pane" id="pills-contact" role="tabpanel" aria-labelledby="messages-tab">3</div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts{
    <script>
        
    </script>
}