﻿@media (min-width: 1200px) {
    .container {
        width: 750px;
    }
}

.m-steps {
}

.m-step {
    padding: 35px 0px 20px 0px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display:none;
}
    .m-step:first-child{
        display:block;
    }
    .m-step-icon, .m-step-main {
        display: inline-block;
    }
    .m-step-icon{
        width:75px;
        float:left
    }
        .m-step-icon img{
            width:50px;
        }
        .m-step-title {
            margin-bottom:8px;
        }

        .m-step-title span {
            color: rgba(0,0,0,.4);
            font-size:12px;
        }

        .m-step-title h2 {
            padding: 0px;
            margin: 0px;
            font-size: 25px;
            padding-top:5px;
        }
.m-step-content{
    padding-top:5px;
    padding-bottom:15px;
}

.m-step-main .m-step-next{
    padding-top:12px;
}

.m-btn{
    padding:8px 12px;
    border-radius:3px;
    background:rgba(0,0,0,.12);
    color:#fff;
    font-weight:200;
    cursor:pointer;
    border:none;
}
    .m-btn:hover {
        text-decoration: none;
        color: #fff;
    }
.m-btn-next {
    background: #d5046f;
    color: #fff;
    transition:all ease-in .3s;
}
.m-btn-submit {
    background: #d5046f;
    color: #fff;
    padding:8px 18px;
    transition: all ease-in .3s;
}
.m-btn-next:hover {
    background: #9e0a56;
}

.m-btn-next {
    display: none;
}

.field-validation-error {
    font-size: 12px;
    line-height: 25px;
    color: #ff911a;
}