﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TOGETHER</title>

    <environment include="Development">
        <link href="~/lib/bootstrap-4.0.0/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">TOGETHER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/activity/create">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    @*<form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
                    <a href="/account/signin" class="btn btn-link">登录</a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="text-muted">
        <div class="container border-top mt-4 pt-3">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>&copy;2018 together.cn by TOGETHER</p>
        </div>
    </footer>



    <environment include="Development">
        <script src="~/lib/jquery/3.3.1/jquery.js"></script>
        <script src="~/lib/vendor/popper.min.js"></script>
        <script src="~/lib/bootstrap-4.0.0/js/bootstrap.js"></script>
        <script src="~/lib/signalr/signalr.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("@(configuration.GetValue<string>("NoticeHttpEndpoint"))/notificationhub")
            .build();

        connection.start()
            .then(() => {
                console.log("connected to signalr hub");
            })
            .catch(error => {
                console.error(error);
            });

        connection.on("NewUserJoined", (title, entrants) => {
            console.log("your " + title + " has user joined : " + entrants + "");
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
